{%extends 'layout.html'%} 
{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="POST" class="card card-body">
       {% if not user.is_authenticated %}
        <h1 class="display-4 text-center">SIGN UP</h1>
        {%csrf_token%} 
        <div class="mb-3">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="form-control" placehoder="Write your username">
        </div>
        <div class="mb-3">
            <label for="password1">Password:</label>
            <input type="password" name="password1" id="password1" class="form-control" placehoder="Write your password">
        </div>
        <div class="mb-3">
            <label for="password2">Password confirmation:</label>
            <input type="password" name="password2" id="password2" class="form-control" placehoder="Confirm your password">
        </div>

        <button class="btn btn-primary">Sign up</button>
        {% else %}
        <h1 class="display-5 text-center">Ups! You are already signed in <span class="text-primary">:)</span></h1>
        {% endif %}    
        <p style="color: red">{{error}}</p>
        </form>
    </div>
</div>
  {% endblock %}
</div>
